<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".di_dependency_injection.Apps"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MVVM.SplashScreen.">
        <activity
            android:name=".login_app.ui.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".login_app.ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".friend_app.ui.AddDetailFriendActivity"
            android:exported="true" />
        <activity
            android:name=".friend_app.ui.ListFriendActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".mvvmapk.ui.MvvmActivity"
            android:exported="true" />
        <activity
            android:name=".mvvmapk.ui.NoMvvmActivity"
            android:exported="true" />
    </application>

</manifest>